@media screen and (max-width: 1028px) {

    .mobile-img{
        position: static;
        transform: rotate(0);
    }
    
    #title h1{
       text-align: center;
    }
    
    #title img{
       text-align: center;
    }
    
    #title btn{
       text-align: center;
    }
}
