@media screen and (max-width: 1028px) {

    .mobile-img{
        position: static;
        transform: rotate(0);
        text-align: center;
    }
    
    #title h1{
       text-align: center;
    }
    
   #title .container-fluid{
       text-align: center;
    }
    
}
